<div class="plan plan-open-source">
  <h5 class="plan-title"><%= open_source.title %></h5>

  <div class="plan-allowance"><%= t(".allowance") %></div>

  <div class="plan-price">$<%= open_source.price %> <small>month</small></div>
</div>
