<div class="plan">
  <h5 class="plan-title"><%= private.title %></h5>

  <div class="plan-allowance">
    Up to <strong><%= private.allowance %></strong> Repos
  </div>

  <div class="plan-price">$<%= private.price %> <small>month</small></div>
</div>
